/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Start body rules */

.check-btn {
    margin: 0 auto;
}

a {
    background-color: powderblue;
    transition: background-color 0.5s;
}

a:hover {
    background-color: gold;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
}
/* Two image containers */
.column {
    float: left;
    width: 50%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

@media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }